<section>
  <div class="container">
    <h2 class="section-title" data-i18n="testimonials.title"></h2>
    <div class="testimonials">
      <div class="testimonial">
        <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?w=300&q=80" alt="">
        <div class="testimonial-body">
          <p data-i18n="testimonials.1.short_text"></p>
          <div class="author" data-i18n="testimonials.1.author"></div>
        </div>
      </div>
      <div class="testimonial">
        <img src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6?w=300&q=80" alt="">
        <div class="testimonial-body">
          <p data-i18n="testimonials.2.short_text"></p>
          <div class="author" data-i18n="testimonials.2.author"></div>
        </div>
      </div>
      <div class="testimonial">
        <img src="https://images.unsplash.com/photo-1552321554-5fefe8c9ef14?w=300&q=80" alt="">
        <div class="testimonial-body">
          <p data-i18n="testimonials.3.short_text"></p>
          <div class="author" data-i18n="testimonials.3.author"></div>
        </div>
      </div>
    </div>
  </div>
</section>