<section id="pricing">
  <div class="container">
    <h2 class="section-title" data-i18n="prices.title"></h2>
    <div class="pricing">
      <div class="price-cell">
        <div class="price-label" data-i18n="prices.price_1.title"></div>
        <div class="price-value">от <strong>€150</strong></div>
      </div>
      <div class="price-cell">
        <div class="price-label" data-i18n="prices.price_2.title"></div>
        <div class="price-value">от <strong>€800</strong></div>
      </div>
      <div class="price-cell">
        <div class="price-label" data-i18n="prices.price_3.title"></div>
        <div class="price-value">от <strong>€8,000</strong></div>
      </div>
      <div class="price-cell">
        <div class="price-label" data-i18n="prices.price_4.title"></div>
        <div class="price-value">от <strong>€X / м²</strong></div>
      </div>
      <div class="price-cell">
        <div class="price-label" data-i18n="prices.price_5.title"></div>
        <div class="price-value">от <strong>€X / м²</strong></div>
      </div>
    </div>
    <div class="pricing-cta">
      <a href="#contact" class="btn btn-primary" data-i18n="prices.cta"></a>
    </div>
  </div>
</section>